<main>
<section id="service">

    <div class="service-page py_0">
        <div class="container">
            <h2>Our Services</h2>


            <div id="owl-example4" class="owl-carousel owl-theme">
                <div class="thumbnail item">
                    <a href="/">
                        <mat-card class="mat-elevation-z4">
                            <img src="assets/images/s1.png" class="img-responsive" />
                            <mat-card-content>
                                <div class="set">
                                    <p style="font-weight: 600;">{{slideheading1}}</p>
                                    <button mat-raised-button color="primary" class="studio">Studio</button>
                                </div>
                                <div class="price">
                                    <p class="flex-text">From $228,800 or $1,679</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>

                <div class="thumbnail item">
                    <a href="/">
                        <mat-card class="mat-elevation-z4">
                            <img src="assets/images/s2.png" class="img-responsive" />
                            <mat-card-content>
                                <div class="set">
                                    <p style="font-weight: 600;">{{slideheading1}}</p>
                                    <button mat-raised-button color="primary" class="studio">Studio</button>
                                </div>
                                <div class="price">
                                    <p class="flex-text">From $300,800 or $2,679</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>

                <div class="thumbnail item">
                    <a href="/">
                        <mat-card class="mat-elevation-z4">
                            <img src="assets/images/s3.png" class="img-responsive" />
                            <mat-card-content>
                                <div class="set">
                                    <p style="font-weight: 600;">{{slideheading1}}</p>
                                    <button mat-raised-button color="primary" class="studio">Studio</button>
                                </div>
                                <div class="price">
                                    <p class="flex-text">From $390,870 or $2,679</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>

                <div class="thumbnail item">
                    <a href="/">
                        <mat-card class="mat-elevation-z4">
                            <img src="assets/images/s1.png" class="img-responsive" />
                            <mat-card-content>
                                <div class="set">
                                    <p style="font-weight: 600;">{{slideheading1}}</p>
                                    <button mat-raised-button color="primary" class="studio">Studio</button>
                                </div>
                                <div class="price">
                                    <p class="flex-text">From $300,800 or $2,679</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>

                <div class="thumbnail item">
                    <a href="/">
                        <mat-card class="mat-elevation-z4">
                            <img src="assets/images/s2.png" class="img-responsive" />
                            <mat-card-content>
                                <div class="set">
                                    <p style="font-weight: 600;">{{slideheading1}}</p>
                                    <button mat-raised-button color="primary" class="studio">Studio</button>
                                </div>
                                <div class="price">
                                    <p class="flex-text">From $300,800 or $2,679</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>

                <div class="thumbnail item">
                    <a href="/">
                        <mat-card class="mat-elevation-z4">
                            <img src="assets/images/s3.png" class="img-responsive" />
                            <mat-card-content>
                                <div class="set">
                                    <p style="font-weight: 600;">{{slideheading1}}</p>
                                    <button mat-raised-button color="primary" class="studio">Studio</button>
                                </div>
                                <div class="price">
                                    <p class="flex-text">From $300,800 or $2,679</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </a>
                </div>


            </div>

        </div>
    </div>
</section>
</main>


