<main>
    <section id="project">
        <div class="project-page py_0">
            <div class="container">
                <h2>Our Completed <span>Projects</span></h2>
    
                <div class="project-slider">
    
                    <div id="owl-example5" class="owl-carousel owl-theme">
                        <div class="thumbnail item">
                            <a href="/">
                                <mat-card class="mat-elevation-z4">
                                    <img src="assets/images/p1.png" class="pro-img" />
                                    <mat-card-content>
                                        <div class="completed">
                                            <div class="pro-title">
                                                <p class="project-title">{{title1}}</p>
                                                <div class="date">
                                                    <p style="opacity: 50%;">{{date}}</p>
                                                </div>
                                            </div>
                                            <div class="project-text">
                                                <p class="pro-text">{{description}}</p>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </a>
                        </div>
    
                        <div class="thumbnail item">
                            <a href="/">
                                <mat-card class="mat-elevation-z4">
                                    <img src="assets/images/p2.png" class="pro-img" />
                                    <mat-card-content>
                                        <div class="completed">
                                            <div class="pro-title">
                                                <p class="project-title">{{title1}}</p>
                                                <div class="date">
                                                    <p style="opacity: 50%;">{{date}}</p>
                                                </div>
                                            </div>
                                            <div class="project-text">
                                                <p class="pro-text">{{description}}</p>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </a>
                        </div>
    
                        <div class="thumbnail item">
                            <a href="/">
                                <mat-card class="mat-elevation-z4">
                                    <img src="assets/images/p3.png" class="pro-img" />
                                    <mat-card-content>
                                        <div class="completed">
                                            <div class="pro-title">
                                                <p class="project-title">{{title1}}</p>
                                                <div class="date">
                                                    <p style="opacity: 50%;">{{date}}</p>
                                                </div>
                                            </div>
                                            <div class="project-text">
                                                <p class="pro-text">{{description}}</p>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </a>
                        </div>
    
                        <div class="thumbnail item">
                            <a href="/">
                                <mat-card class="mat-elevation-z4">
                                    <img src="assets/images/p1.png" class="pro-img" />
                                    <mat-card-content>
                                        <div class="completed">
                                            <div class="pro-title">
                                                <p class="project-title">{{title1}}</p>
                                                <div class="date">
                                                    <p style="opacity: 50%;">{{date}}</p>
                                                </div>
                                            </div>
                                            <div class="project-text">
                                                <p class="pro-text">{{description}}</p>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </a>
                        </div>
    
                        <div class="thumbnail item">
                            <a href="/">
                                <mat-card class="mat-elevation-z4">
                                    <img src="assets/images/p2.png" class="pro-img" />
                                    <mat-card-content>
                                        <div class="completed">
                                            <div class="pro-title">
                                                <p class="project-title">{{title1}}</p>
                                                <div class="date">
                                                    <p style="opacity: 50%;">{{date}}</p>
                                                </div>
                                            </div>
                                            <div class="project-text">
                                                <p class="pro-text">{{description}}</p>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </a>
                        </div>
    
                        <div class="thumbnail item">
                            <a href="/">
                                <mat-card class="mat-elevation-z4">
                                    <img src="assets/images/p3.png" class="pro-img" />
                                    <mat-card-content>
                                        <div class="completed">
                                            <div class="pro-title">
                                                <p class="project-title">{{title1}}</p>
                                                <div class="date">
                                                    <p style="opacity: 50%;">{{date}}</p>
                                                </div>
                                            </div>
                                            <div class="project-text">
                                                <p class="pro-text">{{description}}</p>
                                            </div>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </a>
                        </div>
    
                    </div>
                </div>
    
    
            </div>
        </div>
    </section>
</main>
